@import url(./App.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Overpass);
}

body {
  background-color: #131518;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  background: linear-gradient(
    90deg,
    rgba(24, 30, 39, 1) 100%,
    rgba(35, 42, 52, 1) 100%
  );
  width: 412px;
  border-radius: 15px;
  padding-inline: 32px;
}

.Card h1 {
  text-align: left;
  color: #ffffff;
  margin-bottom: 6px;
}

.Card p {
  text-align: left;
  color: #969fad;
  margin-bottom: 24px;
}

.Reviewcard {
  background: linear-gradient(
    90deg,
    rgba(24, 30, 39, 1) 100%,
    rgba(35, 42, 52, 1) 100%
  );
  width: 412px;
}

.star {
  margin-top: 48px;
  margin-bottom: 46px;
}

.ButtonContainer {
  display: flex;
  color: #262e38;
  justify-content: space-between;
  margin-bottom: 32px;
}

button {
  color: #7c8798;
  background-color: #262e38;
  border: none;
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

button:hover {
  background-color: #7C8798;
  color: #FFFFFF;
  cursor: pointer;
}

.input {
  margin-bottom: 32px;
  width: 100%;
  padding-block: 11px;
  border-radius: 22px;
  background-color: #fc7614;
  color: #ffffff;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
}

.input:hover {
  background-color: #FFFFFF;
  color: #FC7614;
  cursor: pointer;
}

.Reviewcard {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.Reviewcard img {
  width: 162px;
  height: 108px;
  margin-top: 45px;
  margin-bottom: 32px;
}

.Reviewcard h1 {
  background-color: #262e38;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #fc7614;
  padding: 4px 19px 4px 20px;
  border-radius: 22px;
  margin-bottom: 24px;
}

.Reviewcard h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 7px;
}

.Reviewcard p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #969FAD;
  margin-bottom: 45px;
  padding-inline: 32px;
}

@media (width < 413px) {
  .Card {
    width: auto;
    margin-inline: 24px;
    padding-inline: 24px;
  }

  .star {
    margin-top: 37px;
    margin-bottom: 29px;
  }
  .Card h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 10px;
  }

  .Card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 24px;
  }

  .ButtonContainer {
    margin-bottom: 24px;
  }

  button {
    color: #7c8798;
    background-color: #262e38;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  .input {
    margin-bottom: 32px;
    width: 100%;
    padding-block: 12px;
    border-radius: 22px;
    background-color: #fc7614;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1.9px;
  }

  .Reviewcard {
    width: auto;
    margin-inline: 24px;
  }
  .Reviewcard img {
    width: 144px;
    height: 96px;
    margin-bottom: 24px;
    margin-top: 34px;
  }

  .Reviewcard h1 {
    background-color: #262e38;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fc7614;
    padding: 5px 12px;
    border-radius: 22px;
    margin-bottom: 24px;
  }

  .Reviewcard h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .Reviewcard p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 37px;
    color: #969fad;
    text-align: center;
  }
}
